body{
    background-color:#F5F5FA ;
    margin: 100px;
}



.container{
    display: flex;
    background-color: #F5F5FA;
    padding: 10px;
    justify-content: center;
}
.container div{
    
    width: 250px;
    height: 400px;
    margin: px;
    text-align: center;
    line-height: px;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;;
    
  
    border-radius: 10px;
}
.cuadro1{
   
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,2);
    
    
}
.cuadro2{
  
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,2);
    
}

.cuadro3{
  
    background-color:#FF8E3B ;
    box-shadow: 0px 1px 10px rgba(0,0,0,2);
    cursor: pointer;
    transform: 1.5;
    
}
.cuadro4{
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,2);
    
}
.button2{
    border-radius: 30px;
    height: 30px;
    width: 170px;
    font-size: 15px;
    background-color:#FFF4EB;
    color: black;
    margin: white;
    
    text-align: center;
    margin-top: 30px;
    color: orange;
 }
.button3{
    border-radius: 30px;
    height: 30px;
    width: 170px;
    font-size: 15px;
    background-color:#0e0600;
    color: black;
    margin: white;
    font-size: px;
    text-align: center;
    margin-top: px;
    color:white;

}
.texto1{
    font-size: 18px;
}
.texto2{
    font-size: 18px;
}
.texto3{
    font-size: 18px;
}
.texto4{
    font-size: 18px;
}
.buttontop{
    border-radius: 30px;
    height: 25px;
    width: 110px;
    font-size: 15px;
    background-color:#FFF4EB;
    color: black;
    margin: white;

    margin-top: 10px;
    color: orange;
    text-align: left;
    
}
@media screen and (max-width: 800px) {
    .container{
        flex-direction: column;
        
    }
    
}